*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

body{
  background:#0f172a;
  color:white;
  scroll-behavior:smooth;
}

nav{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:rgba(2,6,23,0.8);
  transition:0.3s;
  z-index:1000;
}

nav.scrolled{
  background:#020617;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  height:100vh;
  background:url("https://images.unsplash.com/photo-1555066931-4365d14bab8c?auto=format&fit=crop&w=1600&q=80") center/cover no-repeat;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
}

.overlay{
  background:rgba(0,0,0,0.75);
  padding:60px;
  border-radius:10px;
}

.hero h1{
  font-size:55px;
}

.subtitle{
  margin-top:10px;
  color:#cbd5e1;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:10px 25px;
  background:#3b82f6;
  color:white;
  text-decoration:none;
  border-radius:5px;
  font-weight:bold;
}

.section{
  padding:100px 40px;
  text-align:center;
}

.dark{
  background:#1e293b;
}

h2{
  margin-bottom:30px;
  color:#3b82f6;
}

.cards{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.card{
  background:#1e293b;
  padding:30px;
  width:300px;
  border-radius:10px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  background:#1e3a8a;
}

.skill{
  max-width:500px;
  margin:20px auto;
  text-align:left;
}

.bar{
  width:100%;
  height:10px;
  background:#334155;
  border-radius:5px;
}

.progress{
  height:10px;
  background:#3b82f6;
  border-radius:5px;
}

.stats{
  display:flex;
  justify-content:center;
  gap:40px;
  margin-top:40px;
}

.stat h3{
  font-size:40px;
  color:#3b82f6;
}

footer{
  background:#020617;
  text-align:center;
  padding:20px;
}

/* Animaciones */
.hidden{
  opacity:0;
  transform:translateY(40px);
  transition:0.6s;
}

.show{
  opacity:1;
  transform:translateY(0);
}
